<div class="page-content">
<h2 class="page-header" id="git-header"> Comments </h2>

<% for c in @comments %>
<div id="comment-opts">
	<p><%= c %></p>
</div>

<div id="comment-content">
	<p>Number of Comments <%= @comments.length %></p>
</div>
<% end %>
</div>