<div class="page-content">
	<div class="home-content" id="home-welcome">
		<%= image_tag("railsIcon-01.png", :id => 'home-logo' )%>
		<%= link_to 'Open Unassigned Rails Issues', rails_issues_path, :id=>"home-bttn" %>
		<%= link_to 'Rails Components', rails_labels_path, :id=>"show-rails-issues", :class=>"options" %></div>
	</div>

	<div class="home-content" id="issue-count">
		<div id="issue-highlight"> </div>
		<%= image_tag("gitIcon-01.png", :id => 'git-img' )%>
		<p id="number-of-issues"><%= @open_issues.length %><br>Open Issues</p>
		<%= link_to 'Git Comments', rails_comments_path, :id => "show-git-comments", :class => "options" %> 
	</div>

	<div class="display-issues" id="rails-components">
		<%= render 'rails_components' %>	
	</div>

	<div class="display-issues" id="comments">
		<%= render 'git_comments' %>
	</div>

</div>
