<div class="page-content">
<h2 class="page-header" id="rails-header"> Rails Components </h2>
<div id="rc-opts">
<% for l in @labels %>
<% l = l.to_s%>
<% if l["name"]== 'actioncable' %> 
   		<p class="labels-class" id="ac"> ActionCable</p>
         <% @ac = l %>
<% elsif l["name"] == 'actionmailer' %>
	<p class="labels-class" id="am"> ActionMailer </p>
      <% @am = l %>
<% elsif l["name"] == 'actionpack' %>
	<p class="labels-class" id="ap"> ActionPack </p>
      <% @ap = l %>
<% elsif l["name"] == 'actionview' %>
	<p class="labels-class" id="av"> ActionView </p>
   <% @av = l %>

<% elsif l["name"] == 'assetpipeline' %>
   <p class="labels-class" id="avp"> Asset Pipeline </p>
   <% @actipipe = l %>

<% elsif l["name"] == 'activejob' %>
	<p class="labels-class" id="avj"> ActiveJob </p>
   <% @avij = l %>

<% elsif l["name"] == 'activemodel' %>
   <p class="labels-class" id="avm"> ActiveModel </p>
   <% @acmodel = l %>

<% elsif l["name"] == 'activestorage' %>
   <p class="labels-class" id="as"> ActiveStorage </p>
   <% @avs = l %>

<% elsif l["name"] == 'activesupport' %>
   <p class="labels-class" id="avs"> ActiveSupport </p>
   <% @actsupp = l %>

<% elsif l["name"] == 'activerecord' %>
   <p class="labels-class" id="avr"> ActiveRecord </p>
   <% @acrec = l %>

<% else %>
   <p style="color: white;"> None Found </p>

</div>


<div id="rc-content">
         <p id="show-rails"> Click to show Rails Components </p>
         <div class="labels-data" id="ac-data">
            <p> ActionCable </p>
            <p><%= @ac %></p>
         </div>
         <div class="labels-data" id="am-data">
            <p> ActionMailer</p>
            <p> <%= @am %></p>
         </div>
          <div class="labels-data" id="ap-data">
            <p> ActionPack</p>
            <p> <%= @ap %></p>
         </div>
         <div class="labels-data" id="av-data">
            <p> ActionView</p>
            <p> <%= @av %></p>
         </div>
         <div class="labels-data" id="avs-data">
            <p> Active Storage </p>
            <p><%= @avs %></p>
         </div>
         <div class="labels-data" id="as-data">
            <p> Active Support </p>
            <p><%= @actsupp %></p>
         </div>
         <div class="labels-data" id="avr-data">
            <p> Active Record </p>
            <p><%= @acrec %></p>
         </div>
         <div class="labels-data" id="avm-data">
            <p> Active Model </p>
            <p><%= @acmodel %></p>
         </div>
         <div class="labels-data" id="avp-data">
            <p> Active Pipeline </p>
            <p><%= @actipipe  %></p>
         </div>
         <div class="labels-data" id="avj-data">
           <p> ActiveJob </p>
           <p><%= @avij %></p>
         </div>
<% end %>
<% end %>
</div>

</div>
