// Place all the styles related to the HostPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 2560px) {
	h1{
		font-family: 'Gloria Hallelujah', cursive;
	}
	#root-header{
		text-decoration: none;
		font-family: 'Gloria Hallelujah', cursive;
		font-size: 2.0em;
		color: #BF1F3A;
		position:fixed;
		right: 150px;
		top: 25px;
	}
	h2, p{
		font-family: 'Open Sans', sans-serif;
		color: #BF1F3A;
	}

	.labels-class{
		padding: 25px 15px;
		background-color: #ffd4d4;
		cursor: pointer;
		margin: 15px 5px;
		text-align: center;
		border: 2px solid red;
	}

	#home-welcome{
		position: fixed;
		left: 35%;
		top: 25%;
	}

	#home-bttn, .options{
		background-color: transparent;
		border: none;
		font-family: 'Open Sans', sans-serif;
		color: #BF1F3A;
		text-align: center;
		text-decoration: none;
		font-size: 2.0em;
		cursor: pointer;
	}
	.options{
		position: fixed;
		font-weight: bold;
		z-index: 25;

	}

	.display-issues{
		display: none;
	}

	#show-git-comments{
		color: #103154;
		left: 50%;
		top: 10%;
		font-size: 1.45em;
		#display: none;
	}

	#show-rails-issues{
		left: 20%;
		top: 45%;
		#display: none;
		font-size: 1.45em;
	}
	#issue-highlight{
		background-color: #103154;
		width: 55px;
		height: 55px;
		border-radius: 50%;
		position:relative;
		right: -135px;
		top: -90px;
		display: inline-block;
	}
	#number-of-issues{
		font-size: 1.2em;
		position: relative;
		top: -170px;
		right: -150px;
	}

	#git-img{
		width: 124px;
		height: 124px;
	}
	#issue-count{
		position: fixed;
		left: 15%;
		top: 35%;
		-web-animation-name: git-anim;
		-web-animation-duration: 8s;
		animation-name: git-anim;
		animation-duration: 8s;
		animation-delay: 0.5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: linear;
	}


	@keyframes git-anim{
		0%{ left: 25%; top: 35%;}
		20%{ left: 27%; top: 5%;}
		40%{ left: 30%; top: 25%;}
		60%{ left: 35%; top: 5%;}
		80%{ left: 45%; top: 25%;}
		100%{ left: 50%; top: 5%;}

	}

	#home-options{

	}

	.page-header{
		position: fixed;
		left: 25%;
		top: 10%;
	}

	#git-header{
		color: #103154;

	}
	#rc-opts{
		background-color: #BF1F3A;
		width: 150px;
		height: 550px;
		overflow: auto;
		position: fixed;
		top: 25%;
		left: 28%;
	}
	#rc-content{
		background-color: white;
		border: 1px solid red;
		width: 650px;
		height: 550px;
		position: fixed;
		top: 25%;
		left: 40%;
		z-index: -25;
	}

	.labels-data{
		width: 650px;
		height: 350px;
		background-color: rgba(255, 255, 255, 0.65);
		position: absolute;
		top: 100px;
		display: none;
	}

	#comment-opts{
		background-color: white;
		width: 350px;
		height: 650px;
		overflow: auto;
		position: fixed;
		top: 20%;
		left: 20%;
		border: 1px solid blue;
	}
	#comment-content{
		background-color: white;
		width: 45%;
		height: 600px;
		overflow: auto;
		position: fixed;
		top: 20%;
		left: 40%;
		border: 1px solid red;
	}
}


@media screen and (max-width: 1242px) {
		#root-header{
			right: 80px;
			top: 45px;
		}
		#home-bttn{
			padding-top: 45px;
			font-size: 1.5em;
		}
		#issue-count{
			left: 5%;
		}
	#show-git-comments{
		left: 65%;
		top: 15%;

	}

	#show-rails-issues{
		left: 5%;
		top: 45%;

	}
	#rails-header{
		left: 5%;
	}
	#rc-opts{
		width: 85%;
		height: 120px;
		overflow: auto;
		position: fixed;
		top: 18%;
		left: 5%;
	}
	#rc-content{
		border: 1px solid red;
		width: 85%;
		height: 550px;
		position: fixed;
		top: 35%;
		left: 5%;
	}
	#comment-opts{
		background-color: white;
		width: 85%;
		height: 200px;
		overflow: auto;
		position: fixed;
		top: 70%;
		left: 5%;
		border: 1px solid blue;
	}
	#comment-content{
		background-color: white;
		width: 85%;
		height: 450px;
		overflow: auto;
		position: fixed;
		top: 20%;
		left: 5%;
		border: 1px solid red;
	}

	#git-header{
		left: 5%;

	}


}
